<<<<<<< HEAD
body{
	color: rgb(13,110,253);
}
::placeholder{
	color: rgb(13,110,253,0.4)!important;
}
.table{
	background-color: rgba(13,110,253,0.2);
	color: rgb(13,110,253);
}

.custom-shape-divider-top-1621503625 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /*background-color: blue;*/
}
=======
body{
	color: rgb(13,110,253);
    white-space: normal;
}
::placeholder{
	color: rgb(13,110,253,0.4)!important;
}
.table{
	background-color: rgba(13,110,253,0.2);
	color: rgb(13,110,253);
}

.custom-shape-divider-top-1621503625 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /*background-color: blue;*/
}
textarea{
    white-space: normal;
    text-align: left;
}
>>>>>>> 874acf5 ( Initial commit)
